<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EntityFramework" version="6.0.2-beta1" targetFramework="net451" />
  <package id="jQuery" version="1.6.4" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.ServiceBus" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="2.2.1.1" targetFramework="net451" />
</packages>