<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net451" />
  <package id="Ninject" version="3.0.2-unstable-9043" targetFramework="net451" />
  <package id="Ninject.Extensions.Conventions" version="3.0.2-unstable-9011" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="2.2.1.1" targetFramework="net451" />
</packages>