<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EntityFramework" version="6.0.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.ServiceBus" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.2.0.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net451" />
  <package id="Ninject" version="3.0.2-unstable-9043" targetFramework="net45" />
  <package id="Ninject.Extensions.Conventions" version="3.0.2-unstable-9011" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="ReflectionMagic" version="2.0.0" targetFramework="net451" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="2.2.1.1" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="2.1.0.0" targetFramework="net45" />
</packages>